.App {
  text-align: center;
  max-width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;

  justify-content: space-around;
}

.App-header {
  background-color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main_title {
  font-size: 3vw;
}

.secondary_title {
  color: "cyan";
}
.source_style {
  font-weight: bold;
}
